body{
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
button{
    color: white;
    background-color: gray;
}
.boton1{
    height: 75px;
    width: 125px;
    color: white;
    font-family:cursive;
    font-weight:bold;
}
