body{
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
button{
    color: white;
    background-color: gray;
}
.boton1{
    height: 100px;
    width: 175px;
    color: white;
    font-size: 25pt;
}